@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin:0;
    font-family:'Noto Sans', sans-serif;
}

/* o asterisco significa que qual estilo que for colocado p dentro, vai servir para todos os elemntos dentro da tag */
body * { box-sizing: border-box; }

/* viewport pega a tela da pagina e usa a porcentagem daquilo */
/* já a porcentagem pega o tamanho da div em que está (podendo ser predefinido pela div) */
.main-login {
    width: 100vw;  /* 1 viewport width = 10 px */
    height: 100vh;  /* 1 viewport heigth = 10 px */
    background: #201b2c;   /* tema black darrrrrk */
    display: flex;  /* organiza as div */
    justify-content: center;  /* justifica "centro" no eixo X */ 
    align-items: center;  /* alinha "centro" no eixo y */ 
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;  /* organiza as div */
    justify-content: center;  /* justifica "centro" no eixo X */ 
    align-items: center;  /* alinha "centro" no eixo y */ 
    flex-direction: column; /* direção da flex (deixar uma coluna ao lado da outra) */
}

/* chamando apenas um elemento da tag */
.left-login > h1 {
    color:  #F78223 ; 
    font-size: 3vw;   
}

/* animação */
.image{
    width:35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;  /* organiza as div */
    justify-content: center;  /* justifica "centro" no eixo X */ 
    align-items: center;  /* alinha "centro" no eixo y */   
}

.card-login {
    width: 60%;
    display: flex;  /* organiza as div */
    justify-content: center;  
    align-items: center;
    flex-direction: column; /* direção da flex (deixar uma coluna ao lado da outra) */
    padding: 30px 35px;
    /* eixo Y  e eixo X */
    background: #FAAD6E;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #C7691C;
    font-weight: 800;
    margin: 0;
}

/* organizar o label e o input */
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   /* apos usar o flex direção, o aligne o justify se inverte ( x Y ) */
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #f0ffffde;
    color: #ff9c4a;
    font-size: 12pt;
    box-shadow: #00000056;
    outline: none;  /* evita de criar 'caixas' ao clicar */ 
    box-sizing: border-box; /* div menor nao passa a div maior que está dentro */
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;

}
.textfield > input::placeholder {
    color: #C7691C;
}

.btn-login{
    width:100%;
    padding: 6px 0px;
    margin:25px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase; /* maiusculas */
    font-weight: 800;
    letter-spacing: 3px;
    color: #C7691C;
    background: #fdc394;
    cursor: pointer;  /* maozinha no cursor */
    box-shadow: 0px 10px 40px -12px #6d2806;
}



/* responsividade */
/* enquanto a tela for de 950px adicione elementos: */
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%
     }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;  /* oculta as coisas do html */
    }

    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }

    .image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}