@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* Padding é o espaço interno ao redor do conteúdo de um elemento HTML, 
enquanto margin é o espaço externo. 

O padding define a área de preenchimento entre o conteúdo e a borda, 
enquanto o margin define a área vazia fora da borda.  */

* {
    padding: 0px;  
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

/* O código "box-sizing: border-box;" serve para definir o tamanho de um elemento HTML, 
incluindo as bordas e paddings, dentro da sua largura e altura definidas. 
Isso significa que, ao invés de a borda e o padding aumentarem o tamanho total do elemento, 
eles ficam contidos dentro das dimensões definidas para o elemento.  */


body {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #392d55bd;

}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8bb89;
    border-radius:50px 0 0 50px;
    box-shadow: 10px 5px 10px rgba(0,0,0,.212);
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    border-radius:0 50px 50px 0;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.212);
    padding: 3rem;

}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #f59122;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
   background-color: #ff9239dd; 
} 

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: white;
 } 

 /* Os dois pontos (::) em ".form-header h1::after" significam que estamos 
 acessando um pseudo-elemento "after" de uma tag h1 que está dentro da classe "form-header". 
 Os pseudo-elementos são utilizados para adicionar estilos a partes específicas de um 
 elemento HTML sem precisar alterar seu conteúdo. O pseudo-elemento "after" é usado 
 para inserir conteúdo após o elemento selecionado.  */

 .form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #f59122;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;

 }

  /* O flex-wrap: wrap serve para quebrar o conteúdo de um elemento flexível 
  em linhas separadas, quando necessário, para caber dentro do elemento pai.  */

 .input-group{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    padding: 1rem;

 }

 .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;

 }

  .input-box input { 

    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c ;
  }


 .input-box input:hover {
    background-color: #eeeeee75;

 }

 /*  O focus-visible serve para destacar um elemento 
 quando ele recebe foco. No código acima, 
 quando o elemento input receber foco,
 ele será destacado com uma borda verde de 1px.  */
 
 .input-box input::focus-visible {
    outline: 1px solid green;

 }


.input-box label,
.gender-title h6 {
    font-size: 0.75rem;   
    font-weight: 600;
    color: #000000c0;

}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0, 0.5rem;

}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input {

        margin-right: 0.35rem;

}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color:#f59122;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;

}

.continue-button button:hover{
  
    background-color: #ff9239dd;

}


.continue-button button a{
  
    text-decoration: none;
    font-size: 0.93rem;
    color: #FFF;
    
}



@media screen and (max-width: 1330px){
    .form{
        border-radius:50px 50px 50px 50px;
    }
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }

}   

@media screen and (max-width: 1064px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;  /* scrol no eixo Y */
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-input {
        margin-top: 0.5rem;
    }

}

